/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f9fafb;
  color: #333;
}

/* NAVBAR */
header {
  background: white;
  padding: 20px 10%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: #ec4899;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #ec4899;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  gap: 40px;
  background: linear-gradient(135deg, #ffe4ec, #d1fae5);
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 40px;
  color: #111;
}

.hero-text h2 {
  color: #ec4899;
  margin: 10px 0;
}

.desc {
  margin: 15px 0;
  line-height: 1.6;
}

/* BUTTON */
.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 10px;
  font-size: 14px;
}

.primary {
  background: linear-gradient(90deg, #ec4899, #10b981);
  color: white;
}

.secondary {
  border: 1px solid #ec4899;
  color: #ec4899;
}

.btn:hover {
  opacity: 0.8;
}

/* HERO IMAGE */
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* SECTION */
.section {
  padding: 60px 10%;
}


.section h2 {
  margin-bottom: 20px;
  color: #ec4899;
}

/* SKILLS */
.skills-container {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.skills-column {
  flex: 1;
}

.skill {
  margin-bottom: 15px;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.skill-bar {
  height: 8px;
  background: #e5e7eb;
  border-radius: 10px;
}

.skill-fill {
  height: 100%;
  background: linear-gradient(90deg, #ec4899, #10b981);
  border-radius: 10px;
}

/* PROJECT */
.project-card {
  margin-bottom: 40px;
}

.image-slider {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin-top: 15px;
}

.image-slider img {
  height: 220px;
  border-radius: 12px;
}

/* CONTACT */
.contact-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.label {
  width: 80px;
  font-weight: bold;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #f3f4f6;
  margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .skills-container {
    flex-direction: column;
  }

  nav ul {
    display: none;
  }
}